@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: black;
  --darkBlue: #001f3f;
  --mediumBlue: #1f509a;
  --lightBlue: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--lightBlue);
}
